In [7]:
import pandas as pd
import yfinance as yf
import streamlit as st
import datetime as dt
import numpy as np
import librerie.importazioni as imp
import librerie.pattern as pt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [8]:
#instruments = pd.read_csv("Documents/Python/Python_Analisi_Quantitativa/WebAppStream/dati_input/strumenti.csv")
instruments = pd.read_csv("dati_input/strumenti.csv")
symbols = instruments['Symbol'].sort_values().tolist()

In [9]:
ticker = st.sidebar.selectbox(
    'SCEGLI STRUMENTO',
     symbols)

In [10]:
dfall=imp.import_mt5("dati_input/DAX.csv")
inizio=str(dfall.index.min())
fine=str(dfall.index.max())

In [11]:
dfall

                         open      high       low     close  volume
date_time
2017-02-13 11:15:00  11726.00  11734.90  11722.10  11733.40       0
2017-02-13 11:30:00  11732.90  11739.10  11732.10  11733.90       0
2017-02-13 11:45:00  11733.40  11736.10  11730.60  11733.60       0
2017-02-13 12:00:00  11733.10  11748.10  11732.10  11742.90       0
2017-02-13 12:15:00  11743.10  11747.60  11738.60  11747.10       0
...                       ...       ...       ...       ...     ...
2022-01-17 20:45:00  15935.68  15943.64  15932.45  15941.47       0
2022-01-17 21:00:00  15941.96  15942.65  15932.47  15939.42       0
2022-01-17 21:15:00  15938.46  15940.68  15933.45  15936.95       0
2022-01-17 21:30:00  15936.47  15941.68  15935.45  15936.90       0
2022-01-17 21:45:00  15937.44  15939.95  15931.43  15935.46       0

[88562 rows x 5 columns]

In [17]:
dfts=pt.pattern("dati_input/DAX.csv")
dfts["downame"]=np.where((dfts.DOW==0),"lunedì")

NameError: name 'np' is not defined

In [16]:
dfts.head()

,open,high,low,close,volume,DOW,body,range,mese,anno,...,patM1,patL2,patM2,max1,max2,max3,min1,min2,min3,closeperc
date_time,,,,,,,,,,,,,,,,,,,,,
2017-02-13,11726.00,11813.30,11722.10,11778.30,0,0,52.30,91.20,2,2017,...,0,0,0,0,0,0,0,0,0,61.62
2017-02-14,11766.98,11804.39,11751.92,11796.89,0,1,29.91,52.47,2,2017,...,0,0,0,0,0,0,0,0,0,85.71
2017-02-15,11811.82,11849.31,11722.77,11793.73,0,2,18.09,126.54,2,2017,...,0,0,0,1,0,0,1,0,0,56.08
2017-02-16,11785.16,11814.65,11727.60,11774.57,0,3,10.59,87.05,2,2017,...,0,0,0,0,0,0,0,0,0,53.96
2017-02-17,11752.50,11798.91,11691.98,11789.41,0,4,36.91,106.93,2,2017,...,0,0,0,0,0,0,1,0,0,91.12